$primary-color: #182C61;
$secondary-color: #44bd32;
$hover-color: #4cd137;
$background-color: #f5f6fa;
$text-color-light: #fff;

$padding: 16px;
$margin: 24px;

$font-family: 'Roboto', sans-serif;

$grid-gap: 1%;
$column-width: 32.66%;
